{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"></span>beheer</a></li>
    <li><a href="{{ path('soortActiviteitToevoegen') }}"></span>soortActiviteitToevoegen</a></li>
{% endblock %}
{% block content %}
    <h3>Activiteit {{ naam }}</h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}