{% extends 'deelnemer.html.twig' %}
{% block menu %}
    <li><a href="{{ path('activiteiten') }}">home</a></li>
    <li><a href="{{ path('mijnProfiel') }}">mijnProfiel</a></li>
{% endblock %}


    {% block content %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


        <li><a href="{{ path('wachtwoordWijzigen') }}" class="wachtwoordWijzigen">Klik hier om je wachtwoord te wijzigen</a></li>

        <style>
            .wachtwoordWijzigen
            {
                color: red;
                border: 1px solid red;
                padding: 5px;
            }

            li{
                text-align: center !important;
            }
        </style>


    {% endblock %}

